.cube__wrap {
    width: 10px;
    height: 10px;
    perspective: 400px;
    position: absolute;
    right: 100px;
    bottom: 100px;
    z-index: 2;
}
.cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-300px);
    text-transform: uppercase;
}

.cube__face {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90px;
    height: 90px;
    line-height: 100px;
    font-size: 25px;
    font-weight: bold;
    color: #7d7d7d;
    text-align: center;
    background: #ddd;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
}
.cube__face:hover {
    background: #7d7d7d;
    color: #fff;
}
.cube__face--bottom {
    transform: rotateX(270deg) translateZ(-60px);
}

.cube__face--right {
    transform: rotateY(90deg) rotateX(180deg) translateZ(-60px);
}

.cube__face--top {
    transform: rotateY(180deg) rotateX(90deg) rotateZ(180deg) translateZ(-60px);
}

.cube__face--left {
    transform: rotateY(-90deg) rotateX(180deg) translateZ(-60px);
}

.cube__face--front {
    transform: rotateX(180deg) translateZ(-60px);
}

.cube__face--back {
    transform: rotateZ(180deg) translateZ(-60px);
}
.cube__face__face__edge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    line-height: 100px;
    font-size: 25px;
    font-weight: bold;
    color: #7d7d7d;
    text-align: center;
    background: #ddd;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
}

.cube__face__face__edge__wrap {
    transform-style: preserve-3d;
}
.cube__face__face__edge__wrap:hover {
    background: #7d7d7d;
    color: #fff;
}

.cube__face--top--left {
    width: 90px;
    height: 15px;
    transform: rotateX(-90deg) rotateZ(90deg) translateZ(97.5px)
        translateY(52.5px);
}
.cube__face--left--top {
    width: 90px;
    height: 15px;
    transform: rotateY(-90deg) rotateX(180deg) translateZ(-60px)
        translateY(-90px);
}
.cube__face--top--right {
    width: 90px;
    height: 15px;
    transform: rotateY(90deg) rotateX(90deg) translateZ(-97.5px)
        translateY(52.5px);
}
.cube__face--right--top {
    width: 90px;
    height: 15px;
    transform: rotateY(-90deg) rotateX(180deg) translateZ(60px)
        translateY(-90px);
}
.cube__face--bottom--left {
    width: 90px;
    height: 15px;
    transform: rotateX(-90deg) rotateZ(90deg) translateZ(-22.5px)
        translateY(52.5px);
}
.cube__face--left--bottom {
    width: 90px;
    height: 15px;
    transform: rotateY(-90deg) rotateX(180deg) translateZ(-60px)
        translateY(15px);
}
.cube__face--bottom--right {
    width: 90px;
    height: 15px;
    transform: rotateY(90deg) rotateX(90deg) translateZ(22.5px)
        translateY(52.5px);
}
.cube__face--right--bottom {
    width: 90px;
    height: 15px;
    transform: rotateY(-90deg) rotateX(180deg) translateZ(60px) translateY(15px);
}
.cube__face--front--bottom {
    width: 90px;
    height: 15px;
    transform: rotateX(180deg) translateZ(-60px) translateY(15px);
}

.cube__face--bottom--front {
    width: 90px;
    height: 15px;
    transform: rotateY(180deg) rotateX(90deg) rotateZ(180deg) translateZ(22.5px)
        translateY(52.5px);
}
.cube__face--back--bottom {
    width: 90px;
    height: 15px;
    transform: translateZ(-60px) translateY(-15px);
}
.cube__face--bottom--back {
    width: 90px;
    height: 15px;
    transform: rotateY(180deg) rotateX(90deg) rotateZ(180deg) translateZ(22.5px)
        translateY(-52.5px);
}
.cube__face--front--top {
    width: 90px;
    height: 15px;
    transform: rotateX(180deg) translateZ(-60px) translateY(-90px);
}
.cube__face--top--front {
    width: 90px;
    height: 15px;
    transform: rotateY(180deg) rotateX(90deg) rotateZ(180deg)
        translateZ(-97.5px) translateY(52.5px);
}

.cube__face--back--top {
    width: 90px;
    height: 15px;
    transform: translateZ(-60px) translateY(90px);
}
.cube__face--top--back {
    width: 90px;
    height: 15px;
    transform: rotateY(180deg) rotateX(90deg) rotateZ(180deg)
        translateZ(-97.5px) translateY(-52.5px);
}

.cube__face--back--left {
    width: 15px;
    height: 90px;
    transform: translateZ(-60px) translateX(90px);
}
.cube__face--left--back {
    width: 15px;
    height: 90px;
    transform: rotateY(-90deg) rotateX(180deg) translateZ(97.5px)
        translateX(-52.5px);
}

.cube__face--back--right {
    width: 15px;
    height: 90px;
    transform: translateZ(-60px) translateX(-15px);
}
.cube__face--right--back {
    width: 15px;
    height: 90px;
    transform: rotateY(90deg) rotateX(180deg) translateZ(22.5px)
        translateX(52.5px);
}

.cube__face--front--right {
    width: 15px;
    height: 90px;
    transform: rotateX(180deg) translateZ(-60px) translateX(90px);
}
.cube__face--right--front {
    width: 15px;
    height: 90px;
    transform: rotateY(90deg) rotateX(180deg) translateZ(-97.5px)
        translateX(-52.5px);
}

.cube__face--front--left {
    width: 15px;
    height: 90px;
    transform: rotateX(180deg) translateZ(-60px) translateX(-15px);
}
.cube__face--left--front {
    width: 15px;
    height: 90px;
    transform: rotateY(-90deg) rotateX(180deg) translateZ(-22.5px)
        translateX(52.5px);
}

.cube__edge--left--front--top {
    width: 15px;
    height: 15px;
    transform: rotateY(-90deg) translateX(52.5px) translateZ(22.5px)
        translateY(90.5px);
}
.cube__edge--front--left--top {
    width: 15px;
    height: 15px;
    transform: translateX(-15px) translateZ(60px) translateY(90.5px);
}
.cube__edge--top--left--front {
    width: 15px;
    height: 15px;
    transform: rotateX(-90deg) translateX(-15px) translateZ(97.5px)
        translateY(-52.5px);
}

.cube__edge--right--front--top {
    width: 15px;
    height: 15px;
    transform: rotateY(-90deg) translateX(52.5px) translateZ(-97.5px)
        translateY(90.5px);
}
.cube__edge--front--right--top {
    width: 15px;
    height: 15px;
    transform: translateX(90px) translateZ(60px) translateY(90.5px);
}
.cube__edge--top--right--front {
    width: 15px;
    height: 15px;
    transform: rotateX(-90deg) translateX(90px) translateZ(97.5px)
        translateY(-52.5px);
}

.cube__edge--back--left--top {
    width: 15px;
    height: 15px;
    transform: rotateY(-90deg) translateX(-52.5px) translateZ(-97.5px)
        translateY(90.5px);
}
.cube__edge--left--back--top {
    width: 15px;
    height: 15px;
    transform: translateX(90px) translateZ(-60px) translateY(90.5px);
}
.cube__edge--top--left--back {
    width: 15px;
    height: 15px;
    transform: rotateX(-90deg) translateX(90px) translateZ(97px)
        translateY(52.5px);
}

.cube__edge--back--right--top {
    width: 15px;
    height: 15px;
    transform: rotateY(-90deg) translateX(-52.5px) translateZ(22.5px)
        translateY(90.5px);
}
.cube__edge--right--back--top {
    width: 15px;
    height: 15px;
    transform: translateX(-15px) translateZ(-60px) translateY(90.5px);
}
.cube__edge--top--right--back {
    width: 15px;
    height: 15px;
    transform: rotateX(-90deg) translateX(-15px) translateZ(98px)
        translateY(52.5px);
}

.cube__edge--left--front--bottom {
    width: 15px;
    height: 15px;
    transform: rotateY(-90deg) translateX(52.5px) translateZ(22.5px)
        translateY(-15px);
}
.cube__edge--front--left--bottom {
    width: 15px;
    height: 15px;
    transform: translateX(-15px) translateZ(60px) translateY(-15px);
}
.cube__edge--bottom--left--front {
    width: 15px;
    height: 15px;
    transform: rotateX(-90deg) translateX(-15px) translateZ(-22.5px)
        translateY(-52.5px);
}

.cube__edge--right--front--bottom {
    width: 15px;
    height: 15px;
    transform: rotateY(-90deg) translateX(52.5px) translateZ(-97px)
        translateY(-15px);
}
.cube__edge--front--right--bottom {
    width: 15px;
    height: 15px;
    transform: translateX(90px) translateZ(60px) translateY(-15px);
}
.cube__edge--bottom--right--front {
    width: 15px;
    height: 15px;
    transform: rotateX(-90deg) translateX(90px) translateZ(-22.5px)
        translateY(-52.5px);
}

.cube__edge--back--left--bottom {
    width: 15px;
    height: 15px;
    transform: rotateY(-90deg) translateX(-52.5px) translateZ(-97px)
        translateY(-15px);
}
.cube__edge--left--back--bottom {
    width: 15px;
    height: 15px;
    transform: translateX(90px) translateZ(-60px) translateY(-15px);
}
.cube__edge--bottom--left--back {
    width: 15px;
    height: 15px;
    transform: rotateX(-90deg) translateX(90px) translateZ(-22.5px)
        translateY(52.5px);
}

.cube__edge--back--right--bottom {
    width: 15px;
    height: 15px;
    transform: rotateY(-90deg) translateX(-52.5px) translateZ(22.5px)
        translateY(-15px);
}
.cube__edge--right--back--bottom {
    width: 15px;
    height: 15px;
    transform: translateX(-15px) translateZ(-60px) translateY(-15px);
}
.cube__edge--bottom--right--back {
    width: 15px;
    height: 15px;
    transform: rotateX(-90deg) translateX(-15px) translateZ(-22.5px)
        translateY(52.5px);
}
