.App {
    width: 100vw;
    height: 100vh;
}
.bimatter__link {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    cursor: pointer;
    position: absolute;
    left: 40px;
    top: 20px;
    text-decoration: none;
    color: #305af6d4;
}
